<p id="notice"><%= notice %></p>

<h1>Listando Comentarios</h1>

<table>
  <thead>
    <tr>
      <th>Autor</th>
      <th>Cuerpo</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentarios.each do |comentario| %>
      <tr>
        <td><%= comentario.autor %></td>
        <td><%= comentario.cuerpo %></td>
        <td><%= comentario.fecha %></td>
        <td><%= link_to 'Mostrar', comentario %></td>
        <td><%= link_to 'Editando', edit_comentario_path(comentario) %></td>
        
        <td><%= link_to 'Destruir', comentario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> 
<%= link_to 'Home articulos', articulos_path %>
<%= link_to 'Nuevo Comentario', new_comentario_path %>
