<p id="notice"><%= notice %></p>




<p>
  <strong>Autor:</strong>
  <%= @comentario.autor %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @comentario.cuerpo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @comentario.fecha %>
</p> 

<%= link_to 'Editar', edit_comentario_path(@comentario) %> |
<%= link_to 'Home articulos', articulos_path %> 

<%= link_to 'Atras articulo', @comentario.articulo %>
