/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

/* {color: purple;} 
form * {color: red;}
label  {background-color: blue;}
textarea {color: green;} 
.field {text-align: center } 
.new_comentario {background-image: url(http://img.yoyopress.com/uploads/chavez-pu%C3%B1o-2-630x300.jpg)}
#tit { background-color: #FFAAFF;}
tr {background-color: #AAAAFF;}
.new_articulo {background-image: url(http://www.centralinformativa.com/wp-content/uploads/2015/08/venezuela-centralinfove-696x392.jpg)}
.id_articulos {background-image: url(https://primeranoticia.net/wp-content/uploads/logo_psuv_nuevo-650x250.jpg)}
tr td:last-child, tr td:nth-child(4), tr td:nth-child(5) { background-color: #FFFFAA; } 
*/